#div-canvas,
.marca-juego {
  text-align: center;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px !important;
  }
}

.marcador {
  border: 1px solid black;
  height: 303px;
}

.marca-juego>img {
  width: 100px;
}